* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
  transition: all 0.7s ease;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-text h1{
  color: rgb(0, 0, 0);
  font-size: 60px;
  margin-bottom: 5px;
}

.intro-text p{
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 22px;
}

.intro-text a{
  text-decoration: none;
}

.intro-text button{
  margin-top: 20px;
  margin-left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 15px;
  height: 50%;
  width: 50%;
  border: black;
  outline: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-color: black;
  font-size: 15px;
}

.intro-text button:hover{
  background-color: grey;
}



section{
  height: 80vh;
  color: rgb(255, 255, 255);
  display: block;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.page2{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.page2 h1{
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 38px;
}

.page2 p{
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 15px;
}

section img{
  margin-top: 50px;
  width: 40%;
  height: 45%;
  object-fit: contain;
  float: left;
}


.page2-h2{
  font-size: 20px;
  margin-right: 30%;
  margin-top: 5%;
}

.page2-h2 #h2-1{
  margin-top: 5%;
}

.page2-h2 #h2-2{
  margin-top: 20px;
}

.page2-h2 #h2-3{
  margin-top: 20px;
}



.bg-active{
  background-color: black;
}
